/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 700px;
$inuit-wrapper-width-large: 1184px;

/* stylelint-disable */
@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number."
}
@if (type-of($inuit-wrapper-width-large) != number) {
  @error "`#{$inuit-wrapper-width-large}` needs to be a number."
}
/* stylelint-enable */

.o-wrapper {
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;
}





/* Size variants.
   ========================================================================== */

.o-wrapper--large {
  max-width: $inuit-wrapper-width-large;
}


.o-wrapper--center {
  text-align: center;
}


.o-wrapper--full {
  @include mq($from: wide) {
    max-width: none !important;
  }
}
