<section class="o-wrapper  o-wrapper--large">
  <h2 class="c-heading-main">A little about me</h2>
  <div class="o-grid">
    <div class="o-grid__cell  u-3/5@tablet">
      <p>I am a creative professional based in Portland, Oregon. I specialize in full-stack web design and development, but I’m at my best when I get to draw on my background in art to solve creative problems in whatever forms they take - everything from designing album covers to building email templates.</p>
      <p>In short, I live for A-Ha moments. That, and chocolate cereal.</p>
    </div>
  </div>
</section>
