<div class="o-wrapper  o-wrapper--large  o-wrapper--full">
  <div class="c-project  c-project--reverse  o-grid  o-grid--center  {{ .Params.class }}">
    {{ with .Params.offset }}
      <div class="c-project__image  c-project__image--offset  o-grid__cell  u-1/2@desktop">
    {{ else }}
      <div class="c-project__image  o-grid__cell  u-1/2@desktop">
    {{ end }}
      {{ with .Params.image }}
        <img src="/img/{{ . }}" alt="">
      {{ end }}
    </div>
    <div class="o-grid__cell  u-1/2@desktop">
      <div class="o-grid  o-grid--around">
        <div class="o-grid__cell  u-4/5@desktop">
          <h2 class="c-project__title">{{ .Title }}</h2>
          <p class="c-project__category">{{ .Params.category }}</p>
          {{ .Content }}
          {{ with .Params.link }}
          <a class="c-btn  c-btn--icon" href='{{ . }}'>
            <span>Visit Live
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg>
            </span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
