<section class="o-wrapper  o-wrapper--large  o-wrapper--center">
  <h2 class="c-heading-main">Stuff I Do</h2>
  <div class="o-grid  o-grid--around  o-grid--large">
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-compass.svg" alt="">
        <h3 class="c-icon-module__title">Strategy</h3>
        <p class="c-icon-module__body">A solid web presence goes beyond contact info. A website that is planned with intention is a website that works for you.</p>
      </div>
    </div>
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-brush.svg" alt="">
        <h3 class="c-icon-module__title">Design & Branding</h3>
        <p class="c-icon-module__body">I can help spot ways to strengthen your brand identity, and make sure that identity comes across online.</p>
      </div>
    </div>
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-code.svg" alt="">
        <h3 class="c-icon-module__title">Development</h3>
        <p class="c-icon-module__body">As a full-stack developer, I can build what you need, whether that's a simple landing page or a full-fledged web application.</p>
      </div>
    </div>
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-tools.svg" alt="">
        <h3 class="c-icon-module__title">Integrations</h3>
        <p class="c-icon-module__body">Depending on your goals, I identify and incorporate third-party services that help complete your web presence.</p>
      </div>
    </div>
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-book.svg" alt="">
        <h3 class="c-icon-module__title">Education</h3>
        <p class="c-icon-module__body">A site launch is only a beginning. I teach you how to take charge of your web presence so you can keep your content fresh, accurate, and engaging.</p>
      </div>
    </div>
    <div class="o-grid__cell  u-1/2@tablet  u-1/3@desktop">
      <div class="c-icon-module">
        <img src="/img/icon-comments.svg" alt="">
        <h3 class="c-icon-module__title">Support</h3>
        <p class="c-icon-module__body">Rest easy knowing that someone has your back. I offer on-demand support so you're never left in the lurch.</p>
      </div>
    </div>
  </div>
</section>
